* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 701px;
    background-color: rgba(0, 0, 0, 0.54);
}

.main-sec {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 701px;
    background-color:
    z-index: 15;
    overflow: auto;
    position: relative;
}

.main-sec:before {
    font-family: 'Nunito', sans-serif;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url(img/lauren-mancke-60627.jpg);
    background-size:cover;
    width: 100%;
    height: 701px;

  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}


.top-icon {
    font-family: 'Karla', sans-serif;
    letter-spacing: 2px;
    font-size: 2em;
    background-color: transparent;
    color: #f5f5f5;
    border: 2px solid #f5f5f5;
    float: left;
    padding: 15px 1% 7px 1%;
    margin-top: 20px;
    margin-left: 2%;
}

.nav-list {
    float: right;
    width: 35%;
    overflow: hidden;
}

.nav-list ul {
    background-color: transparent;
    width: 110%;
    list-style: none;
    margin-top: 20px;
    margin-right: -9%;
    padding: 20px;
}

.nav-list li {
    float: left;
    margin-left: 10%;
    margin-right: ;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    color: #f5f5f5;
}

.nav-list li a:link,
.nav-list li a:visited {
    text-decoration: none;
    transition: color 0.4s;
    color: #fff;
}

.nav-list li a:hover,
.nav-list li a:active {
    color: #ffcd34;
}


/* --------------- SLIDE BAR ------------- */

.hamburger {
  position: absolute;
  right: 2%;
  top: 5%;
  color: #fff;
  font-size: 2em;
}

#slide {
  display: none;
  width: 100%;
  height: 280px;
  background-color: #fff !important;
  color: #ffcd34;
}

#slide a {
  display: block;
  /*margin-left: 50%;*/
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  color: #ffcd34;
  z-index: 1;
}

#slide a:nth-child(1) {
  position: absolute;
  top: 1%;
  left: 49%;
}

#slide .about {
  position: absolute;
  left: 46%;
  top: 6%;
}

#slide .work {
  position: absolute;
  top: 12%;
  left: 47%;
}

#slide .contact {
  position: absolute;
  top: 17%;
  left: 45%;
}

.front-main {
    clear: both;
    position: absolute;
    top: 280px;
    left: 35%;
}

.front-main h1, .front-main h2 {
    text-align: center;
    color: #f5f5f5;
}

.front-main h1 {
    font-size: 3em;
    text-transform: uppercase;
}

.front-main h2 span {
    color: #ffcd34;
}

.front-main .port-btn:link,
.front-main .port-btn:visited {
    position: absolute;
    top: 130px;
    left: 27%;
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s all;
    border: 3px solid #f5f5f5;
    background-color: rgba(137, 137, 137, 0.43);
    border-radius: 4px;
    padding: 10px 5%;
}

.front-main .port-btn:hover,
.front-main .port-btn:active {
    color: rgb(137, 137, 137);
    border: 3px solid rgba(137, 137, 137, 0.43);
    background-color: #f5f5f5;
}

/* ------------------------- ABOUT ME ---------------------------- */

.about-me {
    width: 100%;
    height: 701px;
    clear: both;
    z-index: 1;
    background-color: white;
}

.left-about {
    width: 25%;
    float: left;
    padding: 5%;
    margin-top: 160px;
    margin-right: -2%;
}

.left-about h1 {
    text-align: right;
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    line-height: 85%;
}

.right-about {
    font-family: Nunito, sans-serif;
    float: right;
    width: 55%;
    margin-left: 0;
    margin-top: 140px;
    padding: 4%;
    margin-right: 0%;
}

.right-about p {
    margin-top: 20px;
    margin-left: -50px;
}

#border {
    margin-left: 0;
    margin-top: 7px;
    height: 2px;
    width: 5%;
    border-top: 4px solid #000;
    position: absolute;
    left: 37.4%;
}

.bottom-about {
    font-family: Nunito, sans-serif;
    clear: both;
    width: 75%;
    height: 160px;
    background-color: #fff;
    position: absolute;
    bottom: -650px;
    left: 13%;
    margin-bottom: 0px;
}

.quo-ic {
    position: absolute;
    top: 16px;
    left: 50%;
    font-size: 2.6em;
    color: #ffcd34;
}

.bottom-about blockquote {
    position: absolute;
    top: 80px;
    left: 13%;
    font-size: 1.3em;
    font-weight: 700;

}

.bottom-about cite {
    position: absolute;
    top: 120px;
    left: 36%;
    color: rgba(0, 0, 0, 0.65);
}

/* ------------------------- WHAT I DO ---------------------------- */

.what-do {
    width: 100%;
    height: 701px;
    background-color: #fff;
    font-family: Nunito, sans-serif;
}

.what-do .what {
    background-color: #fff;
    float: left;
    width: 22%;
    height: 330px;
    margin-left: 10%;
}

.what h1 {
    font-size: 4em;
    text-transform: uppercase;
    text-align: right;
    line-height: 80%;
    margin-right: 12%;
    margin-top: 60px;
}

.what-do .beige {
    background-color: #FAE18F;
    float: left;
    width: 22%;
    height: 330px;
}

.beige ul {
    list-style: none;
    margin-left: 4%;
    margin-top: 20px;
}

.beige li {
}

.lst-btn {
    font-size: 2em;
    margin-right: 10px;
}

.dwd-btn {
    font-size: 5em;
    color: #fff;
    margin-left: 40%;
}

.what-do .red {
    background-color: #EF7D63;
    color: #fff;
    float: left;
    width: 28%;
    height: 260px;
    margin-top: 70px;
}

.red p {
    padding: 20px;
}

.what-do .lightblue {
    background-color: #D2DBE2;
    float: left;
    width: 44%;
    height: 280px;
    margin-left: 10%;
    padding-top: 20px;
}

.lightblue p {
    padding: 10px;
}

.what-do .purpblue {
    background-color: #8979BA;
    float: left;
    width: 16.5%;
    height: 145px;
}

.purpblue h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: -10px;
    color: #fff;
}

/* ------------------------- TALK TO ME ---------------------------- */

.talk {
    font-family: Nunito;
    background-color: #fff;
    width: 100%;
    height: 501px;
}

.talktext {
    width: 60%;
    height: 350px;
    background-color: #fff;
    margin-left: 20%;
    position: relative;
}

.talktext h1 {
    font-size: 4em;
    text-transform: uppercase;
    line-height: 85%;
    text-align: center;
    width: 25%;
    padding-top: 160px;
    float: left;
}

.talktext p {
    float: right;
    width: 70%;
    padding-top: 155px;
    padding-left: 5%;
}

.talktext .cont-btn:link,
.talktext .cont-btn:visited {
    clear: both;
    background-color: red;
    position: absolute;
    top: 200px;
    left: 42%;
    height: 25px;
    width: 12%;
    margin-top: 50px;
    padding: 10px 2% 3px 2%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.3s all;
    border: 3px solid transparent;
    color: #000;
    background-color: #ffcd34;
}

.talktext .cont-btn:hover,
.talktext .cont-btn:active {
    border: 3px solid #ffcd34;
    color: #ffc000;
    background-color: #fff;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #585858;
    position: relative;
}

footer h5 {
    margin-left: 60%;
    position: absolute;
    top: 40px;
    left: 45%;
}

footer p {
    position: absolute;
    top: 135px;
    left: 44%;
    font-family: Nunito, sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #fff;

}



@media (max-width: 568px) {
  .nav-list ul {display:none}
}

@media (min-width: 568px) {
  .hamburger {display: none}
}
